<%- include('../partials/header') %>

<body>
    <h1>Notes page</h1>
    <a href="/notes/newNote"><button id="addNote">Add Note</button></a>
    <!-- <div>
        <a href="/notes/newList"><button>Add Checklist</button></a>
    </div> -->
    
    <div>
        <% if(notes.length){ %>
            <ul>
                <% notes.forEach(n =>  {%>
                    <!-- this will be a button call modal with the content -->
                    <a href="/notes/<%=n._id%>"><li><%=n.title%></li></a>
                <% })  %>       
            </ul>
        <% } else { %>
            <div>No notes yet.</div>
        <% } %>
    </div>

<%= note._id ? "something" : "nothing" %> 
    <!-- MODAL INPUT -->      
    <!-- <div id="inputNote" class="modal"> -->
    <% if(modal == "textNote") {%>
    <div id="inputNote" class="modal" style:"display:block;" >
    
        <!-- Add Note button -->
        <div class="modal-content">
            <header class="modal-header">
                <p>header</p>
                <!-- close modal button -->
                <span class="close">&times;</span>
            </header>
            <div class="modal-container">
                <form id="noteFrm" action="/notes/newNote" method='post'>
                    <input type="text" name="title" value="<%= note._id ? note.title : ''%>"><br>
                    <textarea name="textNote" id="textNote" cols="30" rows="10"><%= note._id ? note.textNote : ""%></textarea><br>
                    <button id="saveBtn" type='submit' >Save</button>
                </form>
                <form action="/notes/<%=note._id%>?_method=DELETE" method="POST">
                    <button id="delNote">Delete</button>
                </form>
            </div>
            <footer class="modal-footer">
                <p>footer</p>
            </footer>
        </div>
    </div>
    <% } %> 

 

</body>
            
<%- include('../partials/footer') %>