<%- include('../partials/header') %>

<body>
    <h1>Notes page</h1>
    <!-- ADD BUTTONS -->
    <a href="/notes/newNote"><button id="addNote">Add Note</button></a>
    <a href="/notes/newList"><button id="addList">Add List</button></a>

    <!-- <ul>
        <li><input type="checkbox" class="checkbox" name="isChecked" checked > <span class="itemText" name="item">salami</span> </li>
        <li><input type="checkbox" class="checkbox" name="isChecked" checked > <span class="itemText" name="item">salami</span> </li>
    </ul> -->


    <div>
        <% if(notes.length){ %>
            <ul>
                <% notes.forEach(n =>  {%>
                    <!-- this will be a button call modal with the content -->
                    <a href="/notes/<%=n._id%>"><li><%=n.title%></li></a>
                <% })  %>       
            </ul>
        <% } else { %>
            <div>No notes yet.</div>
        <% } %>
    </div>

<%= note._id ? note._id : "no id" %> 
    <!-- --------- MODAL ---------- -->      
    <% if(modal != "none") {%>
    <div id="inputNote" class="modal" style:"display:block;" >
            
        <div class="modal-content">

            <!-- MODAL HEADER -->
            <header class="modal-header">
                <p>header</p>
                <!-- close modal button -->
                <span class="close">&times;</span>
            </header>
                
            <!-- TEXT NOTE -->      
            <% if(modal == "textNote") {%>
            <div class="modal-container">
                <!-- dynamically select path (update / create) -->
                <% let path = ""; %>
                <% note._id ? path = '/notes/' + note._id + '?_method=PUT' : path = '/notes/newNote' %>
                <form id="noteFrm" action="<%= path %>" method='post'>
                    <input class="titleInput" placeholder="Title" type="text" name="title" value="<%= note.title %>"><br>
                    <textarea placeholder="Enter text..." name="textNote" id="textNote" cols="30" rows="10"><%= note._id%></textarea><br>
                    <!-- Create record -->
                    <button id="saveBtn" type='submit' >Save</button>
                </form>

                <form action="/notes/<%=note._id%>?_method=DELETE" method="POST">
                    <button id="delNote">Delete</button>
                </form>
            </div>
            <% } %>

            <!-- CHECKLIST --> 
            <% if(modal == "checklist") {%>
            <div class="modal-container">
                <!-- dynamically select path (update / create) -->
                <% let path = ""; %>
                <% note._id ? path = '/notes/' + note._id + '?_method=PUT' : path = '/notes/newNote' %>
                <form id="noteFrm" action="<%= path %>" method='post'>
                    <input class="titleInput" placeholder="Title" type="text" name="title" value="<%= note.title %>"><br>
                    <input id="itemInput" type="text" >
                    <button id="addItembtn">Add item</button><br>
                    <ul id="listUl">

                    </ul>
                    <!-- Create record -->
                    <button id="saveBtn" type='submit' >Save</button>
                </form>

                <form action="/notes/<%=note._id%>?_method=DELETE" method="POST">
                    <button id="delNote">Delete</button>
                </form>
            </div>
            <% } %> 
            
            
            <!-- MODAL FOOTER -->
            <footer class="modal-footer">
                <p>footer</p>
            </footer>
 
        </div>

    </div>
    <% } %> 


    
 

</body>
            
<%- include('../partials/footer') %>